

li{
	background: red;
	display: initial;
	display: inline-block;
}
#miestilo{
	background: green;
	width: 60% ;
	text-align: center;
	
	padding: 50px;
	border: 15px solid color:red ;
	margin: 15px;
	shape-margin: 40%;
	font: bold 36px FunteCodigoBarra;

}
@font-face{
	font-family: 'FunteCodigoBarra';
	src:url('C39WIDE.TTF');
}
#miestilo1{
	background: red;
	margin-left: 250px;

}
aside{
	background: yellow;
	float: left;
	height: 800px;
/*	margin: 10px; */


}
p[name="miselementos"]{
			color: red;

			
			display: inline;
		}